body {
    margin: 0;
}
section {
    height: 100vh;
}
.menu {
    display: grid;
    justify-items: center;
    grid-template-rows: 30% 50%;
    background: no-repeat url("image/img1.jpg");
    background-size: cover;
}
header{
    display: grid;
    grid-template-columns: 85% 15%;
    align-items:end;
    justify-items:baseline;
    height: 15vw;
    width: 35vw;
}
h1 {
    margin: 0;
    font-size: 6vw;
    font-weight:bolder;
}
.menu__button{
    height: 6vw;
    display: grid;
    width: 100%;
}
.menu__sticks {
    position: relative;
    align-items:center;
    width: 4vw;
    display: grid;
    align-content: center;
    grid-row-gap: 0.6vw;
    transition-duration: 0.5s;
}
.menu__stick {
    border-radius: 1vw;
    height: 0.5vw;
    width: 100%;
    background: black;
}
.menu__stick_position-absolute {
    position: absolute;
}
nav {
    background:rgba(128, 128, 128, 0.274);
    height: 0vw;
    width: 70vw;
    overflow: hidden;
    transition-duration: 1s;
}
.menu__nav {
    height: 12vw;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items:center;
    justify-items:center;
}
.menu__link {
    display: grid;
    align-content:center;
    justify-content:center;
    width: 70%;
    height: 70%;
    text-decoration: none;
    color: antiquewhite;
    transition-duration: 0.2s;
    filter: grayscale(100%);
}
.menu__link:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
    box-shadow: 0 0 2vw 1vw white;
}
.menu__link:hover p{
    transform:scale(1.1);
}
.menu__link p {
    transition-duration: 0.2s;
    font-size: 1vw;
    display: grid;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.589);
    width: 8vw;
}
.menu__link:nth-child(1) {
    background: url("image/img2.jpg");
    background-size: cover;
    
}
.menu__link:nth-child(2) {
    background: url("image/img3.webp");
    background-size: cover;
}
.menu__link:nth-child(3) {
    background: url("image/img4.jpg");
    background-size: cover;
}
.menu__link:nth-child(4) {
    background: url("image/img5.webp");
    background-size: cover;
}
.menu__link:nth-child(5) {
    background: center url("image/img6.jpg");
    background-size: cover;
}


.contacts {
    display: grid;
    align-items:end;    
}
.contacts__content {
    display: grid;
    height: 50vh;
    grid-template-columns: 60% 40%;
    background:rgba(59, 63, 55, 0.699);
}
.content__point {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    text-shadow: 0 0 1vw white ;
}
.content__map {
    justify-self: center;
    align-self: center;
    justify-items: center;
}
.contacts__wrapper {
    display: grid;
    align-content:space-around;
}
.contacts__wrapper div {
    width: 100%;
    border: red 1px solid;
    height: 4vw;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    justify-items: center;
}
.contacts__wrapper div a {
    width: 15vw;
    height: 4vw;
    border: 1px solid white;
    align-self:center;
    font-size: 2vw;
    color:wheat;
    text-decoration:none;
}
.contacts__wrapper div a:nth-child(1) {
    width: 4vw;
}
.contacts__phone {
    background:no-repeat url("image/phone.png");
    background-size:cover;
    transition-duration: 0.3s;
}
.contacts__phone:hover {
    transform: scale(1.2);
    
}