body {
    margin: 0;
}
section {
    height: 100vh;
    width: 100vw;
}
.menu {
    display: grid;
    justify-items: center;
    grid-template-rows: 30% 50%;
    background: no-repeat url("image/img1.jpg");
    background-size: cover;
}
header{
    display: grid;
    grid-template-columns: 85% 15%;
    align-items:end;
    justify-items:baseline;
    height: 15vw;
    width: 35vw;
}
h1 {
    margin: 0;
    font-size: 6vw;
    font-weight:bolder;
}
.menu__button{
    height: 6vw;
    display: grid;
    width: 100%;
}
.menu__sticks {
    position: relative;
    align-items:center;
    width: 4vw;
    display: grid;
    align-content: center;
    grid-row-gap: 0.6vw;
    transition-duration: 0.5s;
}
.menu__stick {
    border-radius: 1vw;
    height: 0.5vw;
    width: 100%;
    background: black;
}
.menu__stick_position-absolute {
    position: absolute;
}
nav {
    background:rgba(128, 128, 128, 0.274);
    height: 0vw;
    width: 70vw;
    overflow: hidden;
    transition-duration: 0.5s;
}
.menu__nav {
    height: 12vw;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items:center;
    justify-items:center;
}
.menu__link {
    display: grid;
    align-content:center;
    justify-content:center;
    width: 70%;
    height: 70%;
    text-decoration: none;
    color: antiquewhite;
    transition-duration: 0.2s;
    filter: grayscale(100%);
}
.menu__link:hover {
    filter: grayscale(0%);
}
.menu__link:hover p{
    transform:scale(1.1);
}
.menu__link p {
    transition-duration: 0.2s;
    font-size: 1vw;
    display: grid;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.589);
    width: 8vw;
}
.menu__link:nth-child(1) {
    background: url("image/img2.jpg");
    background-size: cover;
}
.menu__link:nth-child(2) {
    background: url("image/img3.webp");
    background-size: cover;
}
.menu__link:nth-child(3) {
    background: url("image/img4.jpg");
    background-size: cover;
}
.menu__link:nth-child(4) {
    background: url("image/img5.webp");
    background-size: cover;
}
.menu__link:nth-child(5) {
    background: center url("image/img6.jpg");
    background-size: cover;
}